/*Macan*/
@font-face {
  font-family: "Macan";
  src: url("../Asstes/Font/Macan.ttf");
}

/*Domain-Display*/
@font-face {
  font-family: "DomaineDisplay";
  src: url("../Asstes/Font/DomaineDisplayBold.ttf");
}

/*Helvetica Medium and Light*/
@font-face {
  font-family: "Helvetica-Medium";
  src: url("../Asstes/Font/Helvetica-Neue-Medium.ttf");
}
@font-face {
  font-family: "Helvetica-Light";
  src: url("../Asstes/Font/Helvetica-Neue-UltraLight.ttf");
}

:root {
  --Macan-font: "Macan";
  --DomaineDisplay-font: "DomaineDisplay";
  --Helvetica-Medium-font: "Helvetica-Medium";
  --Helvetica-Light-font: "Helvetica-Light";
  --main-color: #1dbf73;
  --black-color: black;
  --semi-black-color: #62646a;
  --gray-color: #5c5c5c;
  --white-color: white;
  --pink-color: #ff62ad;
  --yellow-color: #ffbe5b;
  --light-back-color: #f1fdf7;
  --dark-blue-color: #0d084d;
  --blue-color: #584aff;
  --light-blue-color: #4a73e8;
  --marun-color: #45091b;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}
li {
  list-style: none;
}
a {
  text-decoration: none !important;
}

.main1 {
  min-height: 98vh;
  padding: 5px 4%;
  background-color: var(--dark-blue-color);
}
.header1 {
  font-size: 4.6vh;
  color: var(--white-color);
}
.header1 span {
  font-weight: 700;
}
.main1 .left-side{
  padding: 15px;
}
.main1 .left-side .part1,
.main1 .left-side .part2,
.main1 .left-side .part3{
  color: var(--white-color);
}
.main1 .left-side .part1{
  font-weight: 700;
  font-size: 9vh;
  padding: 40px 0;
  line-height: 12vh;
}
.main1 .left-side .part1 span{
  color: var(--yellow-color);
  font-family: var(--DomaineDisplay-font);
}
.main1 .left-side .part2{
  font-size: 3vh;
  padding: 0 17% 0 0;
  font-weight: 500;
}
.main1 .left-side .part3{
  margin: 40px 0;
}
.main1 .left-side .part3 a{
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 500;
  background-color: var(--main-color);
  color: var(--white-color);
}
.main1 .right-side img {
  width: 100%;
}


/* main2 start */
.main2{
  padding: 5vh 2vh;
}
.main2 ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 2.7vh;
}
